{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1> {{ nombre}} </h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa dignissimos ea doloribus reiciendis voluptate, illum laborum odit. Suscipit amet nobis vel fugiat nisi non ipsum culpa, repellendus aperiam. Tempora, voluptate!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Martin.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}